@import "variables";

html {
    font-size: $font-size-default;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

// p {
//     padding: 0 !important;
//     margin: 0 !important;
// }

// styles goes here

body {
    position: relative;
    padding-bottom: 190px;
    min-height: 100vh;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background-image: url('../img/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 0 20px;
    margin-bottom: 30px;

    &__logo {
        display: block;
        width: 300px;
        height: 70px;
        margin-right: 20px;
    }

    &__social {
        display: flex;
        justify-content: center;
        flex-grow: 1;

        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            margin: 0 8px;
            color: #103779;
            font-size: 1.3rem;
            text-decoration: none;
            border-radius: 50%;
            background-color: #fff;
            transition: transform .3s;

            .fa {
                transition: color .3s;
            }

            &:hover, &:focus {
                text-decoration: none;
                background-color: #04a5f5;
                color: #fff;
                transform: scale(1.25);
            }
        }
    }

    &__language {
        display: flex;
        padding: 0 15px;

        &-link {
            display: block;
            margin: 0 10px;
        }
    }

    &__date {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        padding: 0 25px;
        color: #fff;
        font-weight: 100;
        border: 1px solid currentColor;
        font-size: 2.2rem;

        &-romb {
            position: absolute;
            top: -20px;
            right: 20%;
            bottom: -20px;
            left: 20%;
            transform: skew(-20deg);
            background-color: #e74040;
        }

        &-text {
            position: relative;
            z-index: 2;
            color: currentColor;
        }
    }

    &__map {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding-top: 20px;

        &-link {
            display: inline-block;
            padding: 4px;
            font-size: 1.4rem;
            font-weight: 300;
            color: #fff;
            border-bottom: 2px dashed transparent;
            transition: border-color .2s;

            > .fa {
                margin-right: 20px;
            }

            &:hover, &:focus {
                color: #fff;
                text-decoration: none;
                border-bottom: 2px dashed currentColor;
            }
        }
    }
}

.content {
    padding-top: 20px;
    font-family: 'Roboto Thin', sans-serif;
    font-weight: 100;

    p {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 2.7rem;
    }

    &__news {
        background: #234884;
        padding: 20px 25px;

        form {
            text-align: center;

            .form-control {
                border-radius: 0;
            }
        }
        .btn {
            border-radius: 0;
            float: right;
            background: #04a5f5;
            border: 1px solid #04a5f5;
            color: #fff;
        }
    }
}

.footer {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    &__left {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-grow: 1;
        &--info {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &--social {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            padding-top: 20px;
            justify-content: center;
            flex-grow: 1;
        }

        &--text {
            flex-grow: 3;
        }

        &--user {
            flex-direction: row;
        }
    }
    &__rigth {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {

    .header {
        flex-direction: column;

        &__logo,
        &__social,
        &__language,
        &__date,
        &__map {
            margin-top: 20px;
        }

        &__map {
            justify-content: center;
        }
    }
}


// .footer {
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     padding: 25px 105px;
//     width: 100%;
//     background-image: url('../img/footer-bg.png');
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//
//     &__left {
//         display: flex;
//         justify-content: center;
//         flex-grow: 1;
//         &--social {
//             width: 100%;
//             display: flex;
//             justify-content: center;
//             flex-grow: 1;
//             background: red;
//         }
//         &--text {
//             display: flex;
//             justify-content: flex-end;
//             width: 100%;
//             padding-top: 20px;
//         }
//     }
//
//     &__rigth {
//         width: 100%;
//         display: inline-flex;
//         flex-direction: row;
//         justify-content: flex-end;
//     }
//
//     &__img {
//         margin-left: 20px;
//     }
